<?xml version= "1.0" ?>

<model>
    <name>037_pitcher_base</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>

    <author>
        <name>Gabriele Mario Caddeo</name>
        <email>gabriele.caddeo@iit.it</email>
    </author>

    <description>
       An sdf model of a pitcher base.
   </description>
</model>
